#maindiv{
	background: url("../images/home1.jpg");
	height: 500px;
	background-size:  100% 500px;
	background-repeat: no-repeat;
	

}
#des{
	float: right;
}

#main2{
	padding-top: 50px;
	text-align: center;
	padding-right: 200px;
	padding-left: 200px;
	color: white;
	font-size: 30px;

}
