body {
	box-sizing: bordpadding;
	background-color: rgba(15, 15, 15);
}


#maindiv {
	background: url("../images/home.jpg");
	height: 700px;
	background-size: 100% 700px;
	background-repeat: no-repeat;
}

.imgh {
	width: 50px;
	height: 50px;
}

#index-nav {
	margin-bottom: none;
}

.navlogo {
	padding-left: 10px;
}

a.navbar-brand {
	font-family: Colus, serif;
	color: rgb(3, 183, 254);
}

#nav {
	background-color: rgb(20, 20, 20);
	/*margin-bottom: 15px;*/
}

navbar-toggler {

	float: right;
}

@font-face {
	font-family: Colus;
	src: url(../fonts/Colus-Regular.ttf);
}


.heading1 {
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 30px;
}

#main2 {
	width: 40%;
	padding-top: 200px;
	padding-left: 100px;
	text-align: left;
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 2px blue, 0 0 2px white;
	font-size: 15px;

}

.butn {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: rgb(3, 183, 254);
	background-color: rgb(8, 44, 99);
	/* box-shadow: 1px 1px 1px white; */
	text-align: center;
	cursor: pointer;
	width: auto;
	font-size: 18px;
	border-radius: 10px;
	margin-top: 10px;
}

footer {
	text-shadow: 1px 1px 2px black, 0 0 2px black, 0 0 2px white;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 30px;
	/*margin-top: 20px;*/
	color: white;
	background-color: rgb(20, 20, 20);

	/* background-color: black; */
}



.footp {
	font-size: 10px;
	padding-top: 20px;
	line-height: 0.5px;
}

.it {
	font-style: italic;
}

.fab:hover,
.fas:hover {
	opacity: 0.7;
}

.fas {
	padding: 10px;
	font-size: 20px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 2px 2px;
}

.fab {
	padding: 10px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 2px 2px;
}

.fa-instagram,
.fa-telegram,
.fa-twitter,
.fa-whatsapp {

	color: white;
}

.fa-rss {
	color: black;
}

/********************Contact**********************/
.cmain {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 175px;
	background-color: rgb(15, 15, 15);
	;
	color: white;

	padding-left: 75px;
}

.chead {
	font-size: 50px;
	color: rgb(3, 183, 254);
}

.cbut {
	border: 0px;
	margin-top: 0px;
	padding: 5px;
	font-family: sans-serif;
	/* font-weight: bold; */
	letter-spacing: 2px;
	text-align: center;
	width: auto;
	background: rgb(8, 44, 99);
	text-decoration: rgb(3, 183, 254);
	border-radius: 25px;
	cursor: pointer;
}

.fa-envelope {
	padding-left: 5px;
}

.fa-phone-alt {
	padding-left: 5px;
}

.white {
	color: rgb(255, 255, 255);
}

.cmain2 {
	color: rgb(3, 183, 254);
	font-size: 20px;
}

/*************Learn************/
.butL:hover,
a:hover {
	opacity: 0.5;
}

#Lsrc {
	color: rgb(3, 183, 254);
}

.butL {
	border: none;
	outline: 0;
	display: inline-block;
	padding-top: 0px;
	padding-right: 18px;
	color: rgb(3, 183, 254);
	background-color: rgb(8, 44, 99);
	text-align: center;
	cursor: pointer;
	width: auto;
	font-size: 18px;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 10px;
}

.pdftxt {
	padding-left: 10px;
}

.cardL {
	font-family: arial;
	color: white;
	background-color: #333;
	padding: 1%;
	padding-left: 5px;
	border-radius: 5px;
}


.pdf {
	padding-top: 30px;
}

.row {
	margin: 10px;
	padding-right: 12%;
	padding-left: 12%;
}

.lhead {
	text-align: center;
	color: white;
	padding-top: 1%;
	padding-right: 2%;
	padding-left: 2%;
}

/************Form*************/
/*.wrapper{
	background: black;

}

.wrapper h2{
  text-align: left;
  margin-bottom: 20px;
  padding-left: 75px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
}

.wrapper .input_field{
  margin-bottom: 15px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.wrapper textarea{
  resize: none;
  height: 100px;
}

.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: white;
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}
.maininp{
	
	text-align: center;
	padding-left: 75px;
	padding-right: 50%;
}


*/

/*about*/

.abtcard {
	padding-top: 30px;

}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	border-radius: 10px;
	text-align: center;
	font-family: arial;
	border: none;
}

.title {
	color: grey;
	font-size: 15px;
}

a {
	text-decoration: none;
	color: black;
}

.abtimg {
	width: 100%;
	border-radius: 10px;
}

.iconsabt {
	padding-bottom: 5px;

}

.abtname {
	font-size: 25px;
	padding-top: 2px;
}

.icc {
	color: black;
	font-size: 20px;
}

.abthead {
	padding: 20px;
	font-size: 40px;
	text-align: center;
	color: rgb(3, 183, 254);
}

.abtp {
	color: white;
	padding-left: 50px;
	padding-right: 50px;
}

/****************Responsive**************************/

/*************Large Devices**************************/
@media(min-width: 992px) {
	#mobile-div {
		display: none;
	}
}

/*************Medium Devices*************************/
@media (min-width: 768px) and (max-width: 991px) {

	#maindiv {
		background: url(../images/home_laptop_sm.jpg) no-repeat;
		background-size: 100% 640px;
		height: 640px;
		padding-top: 0px;
	}

	#main2 {
		width: 40%;
		padding-top: 130px;
		padding-left: 30px;
		text-align: left;
		color: white;
		text-shadow: 1px 1px 2px black, 0 0 2px blue, 0 0 2px white;
		font-size: 15px;

	}

	#mobile-div {
		display: none;
	}
}

/************Small Devices**************************/
@media (min-width: 450px) and (max-width: 767px) {

	#main2 {
		width: 80%;
		padding-top: 80px;
		padding-left: 30px;
		text-align: left;
		color: white;
		text-shadow: 1px 1px 2px black, 0 0 2px blue, 0 0 2px white;
		font-size: 15px;

	}


	#maindiv {
		background: url(../images/hometab.jpg) no-repeat;
		background-size: 100% 280px;
		height: 280px;
		padding-top: 0px;
	}

	#main2 {
		display: none;
	}

	/************contact*********/
	.cmain {
		padding-top: 20px;
		padding-right: 25px;
		padding-left: 25px;
	}

	.chead {
		font-size: 30px;
	}

	.abthead {
		font-size: 30px;
	}

	/***********footer***********/
	/* footer {
		padding-top: 50px;
	} */

	/*******************header navbar*********/
	.navlogo {
		padding-left: 20px;
	}

	.imgh {
		width: 45px;
		height: 45px;
	}

	.cbut {

		letter-spacing: 0.5px;
		border-radius: 25px;
	}

	#mobile-div {
		background-color: rgb(15, 15, 15);
		color: white;
		padding-top: 20px;
		padding-left: 10px;
		height: 300px;
		text-align: center;
	}
}

@media (max-width: 449px) {
	.navlogo {
		padding-left: 0;
		padding-right: 0;
	}

	#main2 {
		width: 80%;
		padding-top: 100px;
		padding-left: 30px;
		text-align: left;
		color: white;
		text-shadow: 1px 1px 2px black, 0 0 2px blue, 0 0 2px white;
		font-size: 15px;

	}

	#mobile-div {
		background-color: rgb(15, 15, 15);
		color: white;
		padding-top: 20px;
		padding-left: 10px;
		height: 300px;
		text-align: center;
	}

	#main2 {
		display: none;
	}

	#maindiv {
		background: url(../images/homemob.jpg) no-repeat;
		background-size: 100% 249px;
		height: 249px;
		padding-top: 0px;
	}

	#ltd {
		display: none;
	}

	.cmain {
		padding-top: 20px;
		padding-right: 25px;
		padding-left: 25px;
	}

	.chead {
		font-size: 30px;
	}

	.cbut {

		letter-spacing: 0.5px;
		border-radius: 25px;
	}
}